/*body {
	background-image: url('City.jpg');
}*/
h1 {
	/*color: white;*/
	text-align: center;
	font-family: arial;
}
h2 {
	/*color: white;*/
	text-align: center;
	font-family: arial;
}
button {
	margin-left: 550px;
	margin-top: 20px;
}
#block {
	margin-top: 20%;
}
#clock {
	text-align: center;
	font-family: arial;
	font-size: 80px;
}